<h1>Audit Logs</h1>
<table class="table table-striped table-hover">
  <head>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Status</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </head>
  <body>
  <%= render 'audit_log' %>
  </body>
</table>
